@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url("/assets/font/Vazir.ttf");
}
*
{
    margin: 0;
    padding: 0;
}
.CartContainer
{
    width: 90%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Vazir;
    display: flex;
    flex-direction: column;
}
.CarHeader
{
    width: 100%;
    border-bottom: 1px solid rgb(58, 58, 58);
    text-align: right;
    padding: 0 5px 5px 0px;
    position: relative;
}
.CarHeader h3
{
    color: red;
    font-weight: 600;
    padding-bottom: 10px;
}
.CarHeader h3::before
{
    content: '6'; 
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 4px;
    right: 80px;
}
.CarHeader h3::after
{
    content: '';
    width: 105px;
    height: 3px;
    border-radius: 90px;
    background-color: rgb(228, 0, 0);
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.cartProduct
{
    width: 100%;
    text-align: right;
    border: 1px solid rgba(58, 58, 58, 0.781);
    padding: 15px;
    border-radius: 10px;
}

.cartProduct .cartTitle p
{
    font-size: 15px;
    color: rgb(184, 184, 184);
}
.cartItem 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: 15px;
}
.cartItem .Product-Title
{
    margin-right: 10px;
    color: rgb(228, 228, 228);
}
.cartItem .Garantie
{
    display: flex;
    margin-right: 10px;
    color: rgba(177, 177, 177, 0.705);
    margin-top: 6px;
}
.Garantie ion-icon
{
    margin-left: 10px;
    color: rgb(111, 58, 160);
    font-size: 18px;
}
.ProductContainer .cartItem  img
{
    width: 114px;
    height: 114px;
}
.cartItemDetails
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 15px;
}
.WhareHouseStatus
{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    color: rgba(177, 177, 177, 0.705);
    margin-top: 6px;
}
.WhareHouseStatus ion-icon
{
    font-size: 18px;
    color: rgba(63, 163, 38, 0.822);
    margin-left: 10px;
}
.DeliverPart
{
    display: flex;
    margin-right: 10px;
    color: rgba(177, 177, 177, 0.705);
    align-items: center;
    margin-top: 5px;
}
.DeliverPart ion-icon
{
    margin-left: 10px;
    color: rgb(170, 170, 170);
}
.PriceTag
{
    margin: 15px 15px 0 0px;
}
.PriceTag h3 span
{
    color: rgb(153, 153, 153);
    font-size: 15px;
}